@*
    View of the index page:
        - Here you can see the contact info.
*@

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="card-title">Contact info</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Name: Carolina Narvaez.</p>
                    <p class="card-text">Email: fondnarvaez93@rocketmail.com.</p>
                    <p class="card-text">Tel: (506) 8807 2740.</p>
                </div>
            </div>
        </div>
    </div>

</div>