@*
    View of the index page:
        - Here you can see the contact info.
*@

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <bR>
            <bR>
            <div class="container">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="card-title">Tecnológico de Costa Rica</h4>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">Escuela de ingeiería en Computación</p>
                        <p class="card-text">Curso: Base de Datos 1</p>
                        <p class="card-text">Profesor: F Quiros.</p>
                        <p class="card-text">II Semestre, 2021</p>
                    </div>
                </div>
            </div>
            <bR>
            <bR>
            <div class="container">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="card-title">Integrantes del Grupo</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Nombre: Adrian XXXXXXX XXXXXXX.</p>
                        <p class="card-text">Carnet: 20XXXXXXXX.</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Nombre: Carolina Narvaez.</p>
                        <p class="card-text">Carnet: 201139205.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>